
<!DOCTYPE html>
<html lang="es" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/DiggiDelivery.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Diggi Delivery</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!-- CSS ============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/main.css">

	<style>
		.sobre {
			background-color: black;
			opacity: 0.7;
			border-radius: 3px;
			height: auto;
			width: auto;
			color: #ffffff;
			top: 300px;
		}
		h5 {
			color: #ffffff;
		}
		.img_t {
			width: 100%;
			height: 490px;
			border-radius: 4px;
		}
		</style>
</head>

<body>
	<header id="header" id="home">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="index.html"><img src="img/DiggiDelivery.png" height="50 px"></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="#home">Inicio</a></li>
						<li><a href="nosotros.html">Nosotros</a></li>
						<li><a href="registro.html">Registrate</a></li>
						<li><a href="contacto.html">Contactanos</a></li>
						<li><a href="login.html">Iniciar Sesión</a></li>
					</ul>
				</nav><!-- #nav-menu-container -->
			</div>
		</div>
	</header><!-- #header --> <br><br>
	<!-- start banner Area -->
	


    <br><br>
<div class="container">
	<div id="custom-search-input">
		<div class="input-group col-md-8">
			<h3 class="text-danger">Platillos y productos populares</h3>
		</div>
	</div><br>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="d-block img_t " src="img/b1.jpg" alt="First slide">
				<div class="carousel-caption d-none d-md-block sobre">
					<h5>Nombre</h5>
					<p>Esto solo es una prueba para ver si jala xd</p><br>
					<button type="button" class="btn btn-danger" data-toggle="" data-target="#user-id-2">Agregar a
						carrito</button>
				</div>
			</div>
			<div class="carousel-item">
				<img class="d-block img_t " src="img/gises.jpg" alt="Second slide">
				<div class="carousel-caption d-none d-md-block sobre">
					<h5>Nombre</h5>
					<p>Esto solo es una prueba para ver si jala xd</p><br>
					<button type="button" class="btn btn-danger" data-toggle="" data-target="#user-id-2">Agregar a
						carrito</button>
				</div>
			</div>
			<div class="carousel-item">
				<img class="d-block img_t " src="img/d6.jpg" alt="Third slide">
				<div class="carousel-caption d-none d-md-block sobre">
					<h5>Nombre</h5>
					<p>Esto solo es una prueba para ver si jala xd</p><br>
					<button type="button" class="btn btn-danger" data-toggle="" data-target="#user-id-2">Agregar a
						carrito</button>
				</div>
			</div>
			<div class="carousel-item">
				<img class="d-block img_t " src="img/clips.jpg" alt="Third slide">
				<div class="carousel-caption d-none d-md-block sobre">
					<h5>Nombre</h5>
					<p>Esto solo es una prueba para ver si jala xd</p><br>
					<button type="button" class="btn btn-danger" data-toggle="" data-target="#user-id-2">Agregar a
						carrito</button>
				</div>
			</div>
			<div class="carousel-item">
				<img class="d-block img_t " src="img/b4.jpg" alt="Third slide">
				<div class="carousel-caption d-none d-md-block sobre">
					<h5>Nombre</h5>
					<p>Esto solo es una prueba para ver si jala xd</p><br>
					<button type="button" class="btn btn-danger" data-toggle="" data-target="#user-id-2">Agregar a
						carrito</button>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only"></span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only"></span>
		</a>
	</div>
</div>


	<br><br>
	<!-- start footer Area -->
	<footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h4 class="text-white">Nosotros</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
							ut labore dolore magna aliqua.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h4 class="text-white">Contactanos</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
							ut labore dolore magna aliqua.
						</p>
						<p class="number">
							012-6532-568-9746 <br>
							012-6532-569-9748
						</p>
					</div>
				</div>
				<div class="col-lg-5  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h4 class="text-white">Suscribete!</h4>
						<p>Ofertas, cupones y mucho más! No el tipico spam.</p>
						<div class="d-flex flex-row" id="mc_embed_signup">


							<form class="navbar-form" novalidate="true"
								action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
								method="get">
								<div class="input-group add-on">
									<input class="form-control" name="EMAIL" placeholder="Correo electronico"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'"
										required="" type="email">
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
											type="text">
									</div>
									<div class="input-group-btn">
										<button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
									</div>
								</div>
								<div class="info mt-20"></div>
							</form>

						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				<p class="footer-text m-0">Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> Todos los derechos resevados</p>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				<div class="footer-social d-flex align-items-center">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-dribbble"></i></a>
					<a href="#"><i class="fa fa-behance"></i></a>
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="js/easing.min.js"></script>
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/main.js"></script>

</html>