$def with (producto)
<!-- start banner Area -->


<section class="generic-banner relative" id="">
    <img class="img-tam2 relative" src="../../../static/img/stationary-bg.jpeg" alt="">
    <div class="container">
        <div class="row d-flex justify-content-start">
            <div class="generic-content text-over relative"><br>
                <h3 class="text-white">Producto</h3>
                <p style="font-size:large;">Introduce la información del producto que deseas agregar!</p>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="mt-10">
                        <h5 style="color: aliceblue;">Nombre</h5>
                        <input type="text" name="Nombre" value="$producto['nombre']" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Nombre'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <h5 style="color: aliceblue;">Marca</h5>
                        <input type="text" name="Marca" value="$producto['marca']" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Marca'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <h5 style="color: aliceblue;">Imagen (Dejar vacio si no se desea cambiar)</h5>
                        <center>
                            <br><img width="85 px" src="$producto['foto']">
                            <h5 ><small style="color:aliceblue;">Imagen actual</small></h5>
                        </center>
                        <input type="file" name="Imagen" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Imagen'" class="single-input">
                    </div>

                    <p style="font-size:medium; color: aliceblue;">Detalles del producto</p>
                    <div class="mt-10">
                        <h5 style="color: aliceblue;">Presentacion del producto</h5>
                        <input type="text" name="Presentacion" value="$producto.get('descripcion').get('presentacion')" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Presentación'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <h5 style="color: aliceblue;">Precio de venta</h5>
                        <input type="number" name="Precio" value="$producto.get('descripcion').get('precio')" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Precio'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <h5 style="color: aliceblue;">Cantidad disponible en almacen</h5> 
                        <input type="number" name="Cant_disponible" value="$producto.get('descripcion').get('cantidad_disponible')" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Cantidad disponible'" required class="single-input">
                    </div>
                    <div class="mt-10 center">
                        <button class="genric-btn primary radius">Enviar</button>
                    </div>
                </form><br>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->