<section class="generic-banner relative" id="">
    <img class="img-tam relative" src="../../../static/img/dark-bg.jpeg" alt="">
    <div class="container">
        <div class="row d-flex justify-content-start">
            <div class="generic-content text-over relative"><br>
                <br><br>
                <h1 class="text-white">¡Upps! Algo falló</h1>
                <p class="text-white" style="font-size:large;">
                    ¡No te preocupes! <br>
                    Nuestros monitos programadores ya estan trabajando para solucionarlo
                </p>
                <br><br>
                <button class="btn btn-danger" onclick="window.history.go(-2)">
                    Volver</button>
            </div>
        </div>
    </div>
</section>