$def with (page)
<!DOCTYPE html>
<html lang="es" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../../../static/img/Logo1x1.png">
    <!-- Author Meta -->
    <meta name="author" content="Patricia Perez, Jocelyn Flores, Gabriela Curiel, Norberto Paloma">
    <!-- Meta Description -->
    <meta name="description" content="Diggi Delivery: Todo lo que necesitas al alancance de un clic">
    <!-- Meta Keyword -->
    <meta name="keywords" content="Diggi, delivery, comida, domicilio">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Diggi Delivery</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!-- CSS ============================================= -->
    <link rel="stylesheet" href="../../../static/css/linearicons.css">
    <link rel="stylesheet" href="../../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../../../static/css/nice-select.css">
    <link rel="stylesheet" href="../../../static/css/animate.min.css">
    <link rel="stylesheet" href="../../../static/css/owl.carousel.css">
    <link rel="stylesheet" href="../../../static/css/main.css">
</head>

<body>
    <header id="header" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="/"><img src="../../../static/img/DiggiDelivery.png" height="50 px"></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="/">Inicio</a></li>
                        <li><a href="usuario/locales/productos">Productos</a></li>
                        <li><a href="/logout">Cerrar Sesión</a></li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </header><!-- #header --> <br><br>

    $:page
    
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white">Nosotros</h4>
                        <p>
                            Desde el super, la tienda de la esquina, la papeleria de tu amiga o la cocina más
                            reconocida.
                            Los productos que necesites, disponibles al alcance de un par de clics.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white">Contactanos</h4>
                        <p>
                            ¿Quieres formar parte de nuestro equipo? Ponte en contacto con nosotros.
                            Estaremos muy felices de saber de ti.
                        </p>
                        <p class="number">
                            775 132 6996 <br>
                            775 128 4715
                        </p>
                    </div>
                </div>
                <div class="col-lg-5  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4 class="text-white">Suscribete!</h4>
                        <p>Ofertas, cupones y mucho más! No el tipico spam.</p>
                        <div class="d-flex flex-row" id="mc_embed_signup">


                            <form class="navbar-form" novalidate="true"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get">
                                <div class="input-group add-on">
                                    <input class="form-control" name="EMAIL" placeholder="Correo electronico"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'"
                                        required="" type="email">
                                    <div style="position: absolute; left: -5000px;">
                                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value=""
                                            type="text">
                                    </div>
                                    <div class="input-group-btn">
                                        <button class="genric-btn"><span class="lnr lnr-arrow-right"></span></button>
                                    </div>
                                </div>
                                <div class="info mt-20"></div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <p class="footer-text m-0">Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Todos los derechos resevados</p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer-social d-flex align-items-center">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->

</body>


<script src="../../../static/js/jquery-3.3.1.slim.min.js"></script>
<script src="../../../static/js/1-popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script src="../../../static/js/vendor/jquery-2.2.4.min.js"></script>
<script src="../../../static/js/popper.min.js"></script>
<script src="../../../static/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="../../../static/js/easing.min.js"></script>
<script src="../../../static/js/hoverIntent.js"></script>
<script src="../../../static/js/superfish.min.js"></script>
<script src="../../../static/js/jquery.ajaxchimp.min.js"></script>
<script src="../../../static/js/jquery.magnific-popup.min.js"></script>
<script src="../../../static/js/owl.carousel.min.js"></script>
<script src="../../../static/js/jquery.sticky.js"></script>
<script src="../../../static/js/jquery.nice-select.min.js"></script>
<script src="../../../static/js/parallax.min.js"></script>
<script src="../../../static/js/mail-script.js"></script>
<script src="../../../static/js/main.js"></script>

</html>