$def with (productos,uid)

<!-- start banner Area -->
<section class="banner-area relative generic-banner img-mb" style="background-image: url(../../../static/img/form-bg.jpg);">
    <div class="container">
        <div class="d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">
                <br><br>
                <h1>
                    Catalogo de Productos
                </h1>
                <p class="text-white">
                    <a name="" id="" class="btn btn-danger" href="/usuarios/locales/insertar/$uid" role="button">Agregar Nuevo</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area --><br><br><br>

<section class="top-dish-area section-gap" id="dish">
    <div class="container">
        <div class="row">
            $for item in productos:
                <div class="single-dish col-lg-4">
                    <div class="thumb">
                        <img class="img-fluid" src="../../../static/img/d1.jpg" alt="" style="height: 250px;">
                    </div>
                    <h4 class="text-uppercase pt-20 pb-20">$item["nombre"]</h4>
                    <a href="/usuarios/locales/editar/$item['id']" class="btn btn-outline btn-danger">
                        <span class="fa fa-pencil"></span>
                    </a>
                    <a href="/usuarios/locales/eliminar/$item['id']" class="btn btn-outline btn-danger">
                        <span class="fa fa-trash"></span>
                    </a>
                </div>
        </div>
    </div>
</section>