$def with (platillo)
<!-- start banner Area -->
<section class="generic-banner relative" id="">
    <img class="img-tam relative" src="../../../static/img/form-bg.jpg" alt="">
    <div class="container">
        <div class="row d-flex justify-content-start">
            <div class="generic-content text-over relative"><br>
                <h3 class="text-white">Editar Platillo</h3>
                <p style="font-size:large;">Edita la información que necesites</p>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="mt-10">
                        <input type="text" name="Nombre" value="$platillo['nombre']" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="" name="Imagen" value="defaulg.jpg" value="$platillo['foto']" required class="single-input">
                    </div> 
                    <div class="mt-10">
                        <textarea name="Descripcion" class="single-textarea" placeholder="$platillo['descripcion']"   required></textarea>
                    </div>
                    <div class="mt-10">
                        <input type="number" name="Tiempo_preparacion" placeholder="$platillo['tiempo_preparacion']"  required class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="text" name="Ingredientes_extra" value="$platillo['ingredientes_extra']"  required class="single-input">
                    </div>
                    <div class="mt-10 center">
                        <button class="genric-btn primary radius">Enviar</button>
                    </div>
                </form><br>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area --> <br><br><br>