<!-- start banner Area -->
<section class="generic-banner relative" id="">
    <img class="img-tam relative" src="../../../static/img/form-bg.jpg" alt="">
    <div class="container">
        <div class="row d-flex justify-content-start">
            <div class="generic-content text-over relative"><br>
                <h3 class="text-white">Nuevo Platillo</h3>
                <p style="font-size:large;">Introduce la información del platillo que deseas agregar</p>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="mt-10">
                        <input type="text" name="Nombre" placeholder="Nombre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="" name="Imagen" placeholder="Imagen" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Imagen'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <textarea name="Descripcion" class="single-textarea" placeholder="Descripción" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Descripción'" required></textarea>
                    </div>
                    <div class="mt-10">
                        <input type="number" name="Tiempo_preparacion" placeholder="Tiempo de preparación" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tiempo de preparación'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="text" name="Ingredientes_extra" placeholder="Ingredientes extra (Separar por comas)" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingredientes extra (Separar por comas)'" required class="single-input">
                    </div>
                    <div class="mt-10 center">
                        <button class="genric-btn primary radius">Enviar</button>
                    </div>
                </form><br>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area --> <br><br><br>