<!-- start banner Area -->
<br><br>
<section class="generic-banner relative" id="">
    <img class="img-gb relative" src="static/img/contact.jpg" alt="">
    <div class="container">
        <div class="row d-flex justify-content-start">
            <div class="generic-content text-over"><br><br><br>
                <form action="" enctype="multipart/form-data" method="POST">
                    <div class="mt-10 relative">
                        <input type="text" name="correo" placeholder="E-Mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-Mail'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="text" name="nombre" placeholder="Nombre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="text" name="apellido" placeholder="Apellido" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Apellido'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <textarea class="single-textarea" name= "mensaje" placeholder="Mensaje" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mensaje'" required></textarea>
                    </div>
                    <div class="mt-10 center">
                        <button href="#" class="genric-btn primary radius">Enviar</button>
                    </div>
                </form><br>
                <h3 class="text-white">¿Tienes alguna pregunta?</h3>
                <p class="text-heading text-uppercase">¡CONTÁCTANOS! SERÁ UN GUSTO ATENDERTE.</p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->