$def with (restaurantes,locales,platillos)
<!-- start banner Area -->
<section class="banner-area relative generic-banner img-gb" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start">
            <div class="banner-content col-lg-8 col-md-12">
                <h4 class="text-white text-uppercase">Encuentra la mejor comida</h4>
                <h1>
                    Cerca de ti
                </h1>
                <p class="text-white">
                    Disponible ahora para Android y iOS
                </p>
                <a href="#" class="primary-btn header-btn text-uppercase">Descargar</a>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<form enctype="multipart/form-data" method="POST" action="">
    <section class="top-dish-area section-gap" id="dish">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Busca lo que necesitas</h1>
                        <p>Restaurantes, platillos, productos o algun negocio.. Seguro que tenemos lo que buscas</p>
                        <input type="text" name="busqueda" class="search-query form-control ml-5" placeholder="Buscar" /> <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>


<!-- Start top-dish Area -->
<section class="top-dish-area section-gap" id="dish">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Platillos populares</h1>
                    <p>Algunos platillos que fuerón seleccionados por nuestros usuarios</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            $for item in platillos
                <div class="single-dish col-lg-4">
                    <div class="thumb">
                        <img class="img-fluid" src="static/img/d1.jpg" alt="" style="height: 250px;">
                    </div>
                    <h4 class="text-uppercase pt-20 pb-20">$item["nombre"]</h4>
                    <h6><a href="/restaurante/$item['id_restaurante']" style="color: #CA3F43">$item["restaurante"]</a></h6>
                    <p>
                        $item["descripcion"]
                    </p>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#$item['uid']">Agregar a la
                        orden</button><br><br>
                </div>
                
        </div>
    </div>
</section>
<!-- End top-dish Area -->


<!-- Start top-dish Area -->
<section class="top-dish-area section-gap" id="dish">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Nuestros aliados</h1>
                    <p>Restaurantes, papelerias, ferreterias... ¡y mucho más!</p>
                </div>
            </div>
        </div>
        <div class="row">
            $for item in restaurantes
                <div class="single-dish col-lg-4">
                    <div class="thumb">
                        <img class="img-fluid" src="static/img/d1.jpg" alt="" style="height: 250px;">
                    </div>
                    <h4 class="text-uppercase pt-20 pb-20">$item["nombre"]</h4>
                    <p>
                        $item["direccion"]
                    </p>
                    <h6><a href="/restaurante/$item['id']" class="btn btn-danger">Ver más</a></h6>
                </div>
            $for item in locales
                <div class="single-dish col-lg-4">
                    <div class="thumb">
                        <img class="img-fluid" src="static/img/d1.jpg" alt="" style="height: 250px;">
                    </div>
                    <h4 class="text-uppercase pt-20 pb-20">$item["nombre"]</h4>
                    <p>
                        $item["direccion"]
                    </p>
                    <h6><a href="/local/$item['id']" class="btn btn-danger">Ver más</a></h6>
                </div>
        </div>
    </div>
</section>
<!-- End top-dish Area -->



$for item in platillos
    <div id="$item['uid']"  class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title text-danger " id="exampleModalLabel">Agregar ingredientes extra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="static/img/modal.jpg" class="img-fluid" alt="Responsive image">
                    <form>
                        <h1>$item['nombre']</h1>       <h6>Precio: $item['precio'].00 MXN</h6>
                        <p>$item['descripcion']</p>
                    </form>
                </div>
                <input type="hidden" id="$item['uid']+$item['nombre']" value="$item['nombre']">
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <a href="/carrito" id="carrito" class="btn btn-danger">Agregar a la orden</a>
                    
                </div>                
            </div>
        </div>
    </div>

<input name="orden_array" type="hidden" value="" id="orden_array">
