<!-- Start Contact Area -->
<section class="banner-login generic-banner img-gb relative " id="contact">
    <div class="container">
        <div class="row d-flex justify-content-start ">
            <div class="col-lg-6 col-md-12 contact-left ">
            </div>

            <div class="col-lg-5 col-md-12 pt-40 pb-100 ">
                <div class="card">
                    <h3 class="card-header info-color text-white text-center py-4 bg-danger">
                        <strong>Estamos felices de tenerte de vuelta por aquí</strong>
                    </h3>
                    <!--Card content-->
                    <div class=" card-body col-md-10 pt-0  ">

                        <!-- Form -->
                        <form method="POST" action="" enctype="multipart/form-data" class="form-area" >
                            <input name="email" placeholder="Email"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'"
                                class="common-input mt-10" required="" type="email">

                            <input name="contrasena" placeholder="Contraseña"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña'"
                                class="common-input mt-10" required="" type="password">

                            <center><button class="primary-btn mt-20 btn-block">Acceder<span
                                        class="lnr lnr-arrow-right"></span></button></center>
                            <div class="mt-10 alert-msg">
                            </div>
                            <br>
                            <center><a class="btn-primary btn btn-social btn-facebook btn-lg"
                                    href="https://www.facebook.com/">
                                    <span class="fa fa-facebook text-white"></span>
                                    <h6 class=" text-white text-right">Facebook</h6>
                                </a>

                                <a class="btn-danger btn btn-social btn-google btn-lg " href="https://www.google.com/">
                                    <span class="fa fa-google text-white"></span>
                                    <h6 class=" text-white text-right">Google</h6>
                                </a></center>
                            <br>
                            <h5 class="text-center"> ¿No tienes una cuenta?<br></h5>
                            <center><a href="/registro">Registrate Aquí</a></center>
                        </form>
                        <!-- Form -->

                    </div>

                </div>
            </div>

</section>
<!-- End Contact Area -->