<!-- start banner Area -->
<section class="generic-banner relative" id="">
    <img class="img-gb relative" src="static/img/contact.jpg" alt="">
    <div class="container">
        <div class="row d-flex justify-content-start">
            <div class="generic-content text-over"><br><br><br>
                <form action="" enctype="multipart/form-data" method="POST">
                    <div class="mt-10 relative text-white">
                        <br><br><br><br><br><br><br><br>
                        <h1 class="text-white">¡Tu mensaje ha sido enviado!</h1>
                        Pronto nos pondremos en contacto contigo.
                    </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<br><br>