<!-- start banner Area -->
<section class="banner-area img-gb generic-banner relative" id="nosotros.html"
    style="background-image: url(static/img/nosotros-bg.jpg);">
    <div class="container">
        <div class="row d-flex justify-content-start">
            <div class="generic-content text-over">
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <h1 class="text-white text-uppercase">Somos un grupo de jóvenes <br> con ganas de emprender</h1>
                <p class="text-heading">EQUIPO DIGGY</p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- start banner Area -->
<section class="sample-text-area team-area section-gap">
    <div class="container">
        <h3 class="text-heading">OBJETIVO</h3>
        <p class="sample-text">
            Desarrollar una aplicación web y móvil que sirva como cliente a un sistema de pedido
            de comida a domicilio, así como de mandados, proporcionando un sistema intuitivo que
            agilice el proceso de pedido para el usuario con el fin de satisfacer la demanda de
            servicios domicilio. Diseñar la arquitectura de la aplicación, el modelo de base de
            datos y la interfaz de las aplicaciones web y móvil. Proporcionar los servicios
            de comida y mandados a través de la aplicación móvil y web.


        </p><br>
        <h3 class="text-heading">ALCANCE</h3>
        <p class="sample-text">
            Para la primera fase del proyecto, se planeó que se enfocara en brindar el servicio
            comidas a domicilio y su función adicional de mandaditos, únicamente en la zona
            metropolitana de Tulancingo. Abarcando asi únicamente los municipios de Tulancingo
            de Bravo, Santiago Tulantepec y Cuautepec.<br>
            Como entregables para la finalización de esta primera fase de desarrollo, se presentará
            la documentación del proyecto, un sitio web y una aplicación móvil que integraran pagos
            como función adicional.
        </p><br>
        <h3 class="text-heading">EQUIPO DIGGY</h3>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="static/img/t1.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="@Jocelyn Flores"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/jocelyn-flores-badillo-6721981a6"><i
                                class="fa fa-twitter"></i></a>
                        <a href="@Jocelyn03817740"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Jocelyn Flores Badillo</h4>
                    <p>Desarrolladora Front - End</p>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="static/img/t3.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="https://www.facebook.com/melodiatena.monteshernandez"><i
                                class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/Gabi20046656"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/mwlite/in/gabriela-curiel-garc%C3%ADa-2a43891a6"><i
                                class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Gabriela Curiel Garcia</h4>
                    <p>Desarrolladora Front - End</p>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="static/img/t2.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="https://www.facebook.com/norberto.palomarodriguez"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/luis_Norberto?s=08"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/luis-norberto-paloma-rodriguez"><i
                                class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Norberto Paloma Rodríguez</h4>
                    <p>Desarrollador Front - End</p>
                </div>
            </div>
            <div class="col-md-3 single-team">
                <div class="thumb">
                    <img class="img-fluid" src="static/img/t4.jpg" alt="">
                    <div class="align-items-center justify-content-center d-flex">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="meta-text mt-30 text-center">
                    <h4>Patricia Pérez Martínez </h4>
                    <p>Desarrolladora Front - End</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->