 <!-- Start Contact Area -->
 <section class="banner-registro relative generic-banner img-reg" id="contact">
    <div class="container ">
        <div class="row align-items-center d-flex justify-content-start ">
            <div class="col-lg-6 col-md-12 contact-left ">
                <center><h1 class="text-white text-uppercase">¡Registrate! Es muy fácil.</h1>
                <h2 class="text-white text-uppercase">Y es gratis</h2></center>
            </div>

            <div class="col-lg-5 col-md-12 pt-40 pb-100 ">
                <div class="card">
                    <h3 class="card-header info-color text-white text-center py-4 bg-danger">
                    <strong>Registrar</strong></h3>
                    <!--Card content-->
                    <div class=" card-body text-center" style="height: 550px;">
                        <br><br>
                        <center><h1>Upps! Algo salio mal</h1>
                            <h5>Al parecer ese correo ya esta registrado</h5>
                            <a href="/registro"><h6> intenta nuevamente haciendo clic <strong>aqui</strong></h6></a><br>
                                <img src="static/img/error.gif" height="250px">
                                <br><small>Si esto sucede nuevamente, ponte en contacto con nuestros 
                                    monitos programadores desde la pestaña de contacto.</small>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>
        <!-- End Contact Area -->