<!-- start banner Area -->
<section class="generic-banner relative" id="">
    <img class="img-tam relative" src="../../../static/img/form-bg.jpg" alt="">
    <div class="container">
        <div class="row d-flex justify-content-start">
            <div class="generic-content text-over relative"><br>
                <h3 class="text-white">Restaurante</h3>
                <p style="font-size:large;">Introduce la información del restaurante</p>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="mt-10">
                        <h5 style="color: antiquewhite;">Repite tu correo electronico</h5> <br>
                        <input type="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <h5 style="color: antiquewhite;">Nombre del restaurante</h5> <br>
                        <input type="text" name="Nombre" placeholder="Nombre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <h5 style="color: antiquewhite;">Direccion del restaurante</h5> <br>
                        <input type="text" name="Direccion" placeholder="Direccion" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Direccion'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <h5 style="color: antiquewhite;">Telefono del restaurante</h5> <br>
                        <input type="text" name="Telefono" placeholder="Telefono" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Telefono'" required class="single-input">
                    </div>
                    <div class="mt-10 center">
                        <button class="genric-btn primary radius">Enviar</button>
                    </div>
                </form><br>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area --> <br><br><br>