 <!-- Start Contact Area -->
<section class="banner-registro relative generic-banner img-reg" id="contact">
    <div class="container ">
        <div class="row align-items-center d-flex justify-content-start">
            <div class="col-lg-6 col-md-12 contact-left">
                <br><br>
                <center><h1 class="text-white text-uppercase">¡Registrate! Es muy fácil.</h1>
                <h2 class="text-white text-uppercase">Y es gratis</h2></center>
            </div>

            <div class="col-lg-5 col-md-12 pt-40 pb-100 ">
                <div class="card">
                    <h3 class="card-header info-color text-white text-center py-4 bg-danger">
                    <strong>Registrar</strong></h3>
                    <!--Card content-->
                    <div class=" card-body col-md-10 pt-0  ">
                        <!-- Form -->
                        <form method="POST" action="" enctype="multipart/form-data" class="form-area" >
                            <div class="container align-items-center">    
                                <br><br>
                                <center><h6>Solo necesitas un correo y una contraseña</h6></center>
                                <input name="email" placeholder="Email"  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" class="common-input mt-10" required="" type="email">

                                <input name="contrasena" placeholder="Contraseña" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña'" class="common-input mt-10" required="" type="text">
                            
                                <center><button class="primary-btn mt-20 al">Registrarse<span class="lnr lnr-arrow-right"></span></button></center>
                            
                        
                            <div class="mt-10 alert-msg align-items-center">
                            </div>
                            <br>
                            <center>
                                <a class="btn-primary btn btn-social btn-facebook btn-lg "href="https://www.facebook.com/">
                                    <span class="fa fa-facebook text-white"></span><h6 class=" text-white text-right">Facebook</h6></a>
                                <a class="btn-danger btn btn-social btn-google btn-lg " href="https://www.google.com/">
                                    <span class="fa fa-google text-white"></span><h6 class=" text-white text-right">Google</h6></a>
                            
                            
                            <br>
                            <h5 class="text-center"> ¿Ya tienes una cuenta?<br></h5>
                            <a href="/login">Inicia sesión Aquí</a>
                            </center>
                            </div>
                        </form>
                        <!-- Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br><br>
        <!-- End Contact Area -->