<section class="top-dish-area section-gap" id="dish">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">¿De que forma planeas usar Diggi Delivery?</h1>
                    <p>Compara los tipos de cuenta y selecciona el que mejor se ajusta a tus necesidades</p>
                </div>
            </div>
        </div>
        <form action="" enctype="multipart/form-data" method="POST">
        <div class="row">
            <div class="single-dish col-lg-4">
                <div class="thumb">
                    <img class="img-fluid" src="static/img/restaurante.jpg" alt="" style="height: 250px;">
                </div>
                <h4 class="text-uppercase pt-20 pb-20"> Restaurante </h4>
                <p>
                    ¿Tu negocio es un restaurante? ¿Bar? ¿Snack & Beer? Esta opción es la ideal para ti!
                </p>
                <button class="btn btn-danger" name="nivel" value="0">¡Soy un restaurante!</button>
            </div>
            <div class="single-dish col-lg-4">
                <div class="thumb">
                    <img class="img-fluid" src="static/img/locales-card.jpg" alt="" style="height: 250px;">
                </div>
                <h4 class="text-uppercase pt-20 pb-20"> Negocio </h4>
                <p>
                    Papelerias, ferreterias, tienditas de la esquina, etc.
                    Si no eres un restaurante, esta es tu opción ideal.
                </p>
                <button class="btn btn-danger" name="nivel" value="1">¡Soy un negocio!</button>
            </div>
            <div class="single-dish col-lg-4">
                <div class="thumb">
                    <img class="img-fluid" src="static/img/cliente-card.jpg" alt="" style="height: 250px;">
                </div>
                <h4 class="text-uppercase pt-20 pb-20"> Cliente </h4>
                <p>
                    Si simplemente quieres disfrutar de los beneficios de comprar, esta es la opción para ti.
                </p>
                <button class="btn btn-danger" name="nivel" value="2">¡Soy un cliente!</button>
            </div>
        </div>
        </form>
    </div>
    
</section>